<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book List</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="mainDiv">

      <div class="titleDiv">
        <h1 class="title">WILL'S BOOK LIST</h1>
      </div>

      <div id="searchDiv" class="queryDiv">
        Search
      </div>

      <div id="filterDiv" class="queryDiv">
        Filter
      </div>

      <div class="bookDiv">
        Books
      </div>

    </div>

  </body>
</html>
