<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <meta charset="utf-8">
    <title>Add Book</title>
  </head>
  <body>

    <div class="mainDiv">

      <div class="titleDiv">
        <h1 class="title">ADD BOOKS</h1>
      </div>

      <form action="/" method="post">
        <div>
          <textarea id="bookInput" type="text" required="required" name="books" placeholder='Please input a list of books in this format: title - author - title - author .....'></textarea>
        </div>
        <div>
          <input placeholder='Password' class="password" type="password" name="password">
        </div>
        <button class="submit" type="submit">Submit</button>
      </form>


    </div>

  </body>
</html>
