body {
  background-color: #84A5B8;
}

div {
  font-family: 'Libre Baskerville';
  color: #CBCBCB;
}

a {
  color: #CBCBCB;
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 1px black;
}

.title {
  text-align: center;
}

.titleDiv {
  width: 100%;

}

.bookList {
  width: 48%;
  border: none;
  display: inline-block;
  list-style-type: none;
  margin-left: 1%;
  padding: 0;
}

.bookItem {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  border: 1px solid #84A5B8;
}

#bookInput {
  width: 80%;
  height: 25vh;
  margin-left: 8%;
  padding: 1%;
  border: none;
  text-align: left;
  background-color: #B3DAF1;
  color: #84A5B8;
}

.password {
  width: 80%;
  margin-left: 8%;
  padding: 1%;
  background-color: #B3DAF1;
  color: #84A5B8;
  border: none;
  margin-bottom: 5px;
}

.submit {
  font-size: 15px;
  background-color: #B3DAF1;
  color: #84A5B8;
  border: none;
  margin: auto;
  display: block;
}
